* {
  padding: 0;
  margin: 0;
  font-family: monospace,sans-serif; 
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  width: 100px;
  height: 40px;
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
}

/*Hero section CSS rules*/

.hero {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-header h1, .action-section div{
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 800;
  gap: 10px;
}

.hero-text p, a, .action-section p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-content-image {
  height: auto;
  width: 350px;
  border-radius: 5px;
}

/* Info section CSS rules */

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 120px;
  margin-bottom: 40px;
}

.info-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 25px;
  margin-top: 40px;
}

.text {
  width: 220px;
}

 .info-image {
  height: auto;
  width: 200px;
} 

/* Quote section CSS rules */

.quote-section {
  padding: 30px 15%;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.quote-section div {

  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
}

.author {
  font-weight: 800;
  font-size: 18px;
  align-self: flex-end;
}

/* CSS rules for all sections: hero, info-container, quote-section */


h1, ul {
  margin: 10px auto;
}

h1 {
  width: 700px;
}

ul {
  flex-wrap: wrap;
  width: 350px;
}
.hero-content {
  margin-bottom: 30px;
}
.hero-text {
  width: 700px;
  margin: 0 auto;
}

.hero-content-image {
  margin: 0 auto;
}

